﻿@{
    ViewData["Title"] = "View comments";
}

<div clamarging background-white">
    <h4 class="center">Все комментарии</h4>
    @foreach (var comment in Model)
    {
        <div class="card" style="width: 18rem; margin-top:30px">
            <div class="card-body">
                <h6 class="card-title" style="color:blue">@comment.Text</h6>
                <p class="text-muted" style="margin-top:60px; margin-left: 100px">Id статьи @comment.ArticleID</p>
                <form method="get" asp-controller="Comments" asp-action="GetCommentById" asp-route-id="@comment.ID" style="margin-top:10px">
                    <input class="enter_submit" type="submit" value="Просмотреть" />
                </form>
            </div>
        </div>
    }
</div>
