@model PracticeBlog.Data.Models.Role

@{
    ViewData["Title"] = "AddRole";
}

<div>
    @if (Model == null)
    {
        <form class="frm" method="post" asp-controller="Roles" asp-action="Add">
            <h1 class="h3 mb-3 fw-normal">Добавление роли</h1>
            <div class="form-floating">
                <label for="floatingInput">Название</label>
                <input asp-for="Name" class="form-control" id="floatingInput" required minlength="2">
            </div>
            <div class="form-floating">
                <label for="floatingInput">Описание</label>
                <textarea asp-for="Description" class="form-control" id="floatingInput"></textarea>
            </div>
            <div>
                <br>
                <button class="btn-primary" type="submit">Добавить</button>
            </div>
            <p><a class="text-blue" asp-area="" asp-controller="Roles" asp-action="Index">Перейти к списку всех ролей</a><p />
        </form>
    }
    else
    {
        @await Html.PartialAsync("_Added")
    }
</div>