@model PracticeBlog.Data.Models.Role

@{
    ViewData["Title"] = "UpdateRole";
}

<form class="frm" method="post" asp-controller="Roles" asp-action="ConfirmUpdating">
    <h1 class="h3 mb-3 fw-normal">Редактирование роли</h1>
    <div class="form-floating">
        <label for="floatingInput">Название</label>
        <input asp-for="Name" class="form-control" id="floatingInput" required minlength="2">
    </div>
    <div class="form-floating">
        <label for="floatingInput">Описание</label>
        <textarea asp-for="Description" class="form-control" id="floatingInput"></textarea>
    </div>
    <div>
        <br>
        <button class="btn-primary" type="submit" onclick="@Html.PartialAsync("_Added")">Сохранить</button>
    </div>
    <p><a class="text-blue" asp-area="" asp-controller="Roles" asp-action="Index">Перейти к списку всех ролей</a><p />
</form>
