<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticeBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PracticeBlog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Articles" asp-action="Index">Статьи</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Index">Комментарии</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Tags" asp-action="Index">Теги</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index">Роли</a></li>
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-md-3 text-end">
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="LogOut">Выйти</a>
                </div>
            }
            else
            {
                <div class="col-md-3 text-end">
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Authenticate">Войти</a>
                </div>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PracticeBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
