﻿
@model PracticeBlog.Data.Models.User

@{
    ViewData["Title"] = "Authenticate";
}

<form class="frm" method="post" asp-controller="Users" asp-action="Authenticate">
    <h1 class="h3 mb-3 fw-normal">Вход в приложение</h1>
    <div class="form-floating">
        <input asp-for="Login" class="form-control" id="floatingInput" placeholder="YourLogin" required>
        <label for="floatingInput">Ваш логин (адрес эл. почты)</label>
    </div>
    <div class="form-floating">
        <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password" required minlength="3">
        <label for="floatingPassword">Пароль</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Запомнить меня
        </label>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <p display="inline">Еще нет аккаунта?<a class="text-blue" asp-area="" asp-controller="Users" asp-action="Register"> Зарегистрируйтесь</a></p>
</form>
