@model PracticeBlog.Data.Models.User

@{
    ViewData["Title"] = "Update";
}

<form class="frm" method="post" asp-controller="Users" asp-action="ConfirmUpdating">
    <h1 class="h3 mb-3 fw-normal">Редактирование пользователя</h1>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display:inline" disabled>
        <label class="form-check-label" for="flexCheckDefault">
            Admin
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display:inline">
        <label class="form-check-label" for="flexCheckDefault">
            Moder
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="display:inline">
        <label class="form-check-label" for="flexCheckDefault">
            User
        </label>
    </div>
    <div class="form-floating">
        <label for="floatingInput">Имя</label>
        <input asp-for="FirstName" class="form-control" id="floatingInput" required>
    </div>
    <div class="form-floating">
        <label for="floatingInput">Фамилия</label>
        <input asp-for="LastName" class="form-control" id="floatingInput" required>
    </div>
    <div class="form-floating">
        <label for="floatingInput">Логин</label>
        <input asp-for="Login" class="form-control" id="floatingInput" required>
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Пароль</label>
        <input asp-for="Password" class="form-control" id="floatingPassword" required minlength="3">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Возраст</label>
        <input asp-for="Age" class="form-control" id="floatingPassword">
    </div>
    <br>
    <button class="btn-primary" type="submit" padding=30>Сохранить</button>
</form>
