@model PracticeBlog.Data.Models.Tag

@{
    ViewData["Title"] = "AddTag";
}

<div>
    @if (Model == null)
    {
        <form class="frm" method="post" asp-controller="Tags" asp-action="Add">
            <h1 class="h3 mb-3 fw-normal">Добавление тега</h1>
            <div class="form-floating">
                <label for="floatingInput">Название</label>
                <input asp-for="Name" class="form-control" id="floatingInput" required minlength="2">
            </div>
            <div>
                <br>
                <button class="btn-primary" type="submit">Добавить</button>
            </div>
            <p><a class="text-blue" asp-area="" asp-controller="Tags" asp-action="Index">Перейти к списку всех тегов</a><p />
        </form>
    }
    else
    {
        @await Html.PartialAsync("_Added")
    }
</div>