@model PracticeBlog.Data.Models.Article
@{
    ViewData["Title"] = "AddArticle";
}

<div>
    @if (Model == null)
        {
        <form class="frm" method="post" asp-controller="Articles" asp-action="Add">
            <h1 class="h3 mb-3 fw-normal">Добавление статьи</h1>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                .Net
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                JavaScript
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Java
              </label>
            </div>
            <div class="form-floating">
                <label for="floatingInput">Заголовок</label>
                <input required asp-for="Name" class="form-control" id="floatingInput">
            </div>
            <div class="form-floating">
                <label for="floatingInput">Контент</label>
                <textarea asp-for="Text" class="form-control" id="floatingInput" required minlength="50"></textarea>
            </div>
            <div>
                <br>
                <button class="btn-primary" type="submit">Добавить</button>
            </div>    
            <p><a class="text-blue" asp-area="" asp-controller="Articles" asp-action="Index">Вернуться к списку всех статей</a><p/>
        </form>        
        }
    else
    {
        @await Html.PartialAsync("_Added")
    }
</div>
